# Lab 3.03 - Confidence intervals

In [ ]:
# Package imports

## Exercise 3.1 - rlanders

Load the dataset data/rlanders.csv. Use the column Money.  
We assume that the values from this sample are normally distributed around a population mean $\mu$ that is unknown, but that the standard deviation of the population is known, i.e. $\sigma = 98$.

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/HoGentTIN/dsai-en-labs/main/data/rlanders.csv').set_index(['ID'])
# Show the first few records of the Data Frame
df.head()

    Gender  Money  Days  Months  Count  Survey
ID
1   Female    440    29      11     35       3
2   Female    503    23      10     52       3
3     Male    412    16      11     55       3
4     Male    587    25       9     28       5
5     Male    525    30      11     41       4

Calculate a 99% confidence interval for the population mean (Answer: [484.191, 516.121]).

Calculate a 95% confidence interval for the population mean. (Answer =  [488.008, 512.304])

Suppose Ïƒ is unknown, calculate a 95% confidence interval for the population mean. (Answer = [487.319, 512.993])

Finally, suppose the sample consists of only the first 25 observations in this dataset. Calculate a 95% confidence interval for this situation.  
(Answer = [450.291,536.669])

## Exercise 3.2

1. How do you calculate the upper and lower limits of a 95% and 99% confidence interval?
2. A 99% confidence interval is [wider/narrower/the same width] as a 95% confidence interval. Why?
3. What would a 100% confidence interval look like?