# Lab 7.01 - Time series analysis

In [ ]:
# Package imports for data science and time series analysis in particular
import numpy as np                                  # "Scientific computing"
import pandas as pd                                 # Dataframe
import scipy.stats as stats                         # Statistical tests

import matplotlib.pyplot as plt                     # Basic visualisation
import seaborn as sns                               # Advanced dataviz

from sklearn.linear_model import LinearRegression   # Linear regression model

# Time series analysis
from datetime import datetime
from sklearn.metrics import mean_absolute_error,mean_squared_error
from statsmodels.tsa.api import Holt
from statsmodels.tsa.holtwinters import ExponentialSmoothing
from statsmodels.tsa.seasonal import seasonal_decompose

### Exercise 1 - House sales

The file House Sales.csv contains monthly data on the number of new one-family
houses sold in the United States (in thousands) from January 1991 through December 2011.
Housing sales were steadily trending upward until about the beginning of 2006, then the
bottom fell out of the housing market, and sales eventually started trending upward again.   

- First Create a time series chart of the data.
- Add predictions for Simple Moving Average with span of 3, 6 and 12 months to the dataframe.
- Add predictions for Simple Exponential Smooting to the dataframe.
- Add predictions for Double Exponential Smoothing to the dataframe.
- Calculate the MAE to find the best model

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/HoGentTIN/dsai-labs/main/data/Monthly%20House%20Sales.csv', delimiter = ";", parse_dates=['Month']).set_index(['Month'])
data.head()

        Houses Sold
Month
jan/91          401
feb/91          482
mrt/91          507
apr/91          508
mei/91          517

First Create a time series chart of the data.

Add predictions for Simple Moving Average with span of 3, 6 and 12 months to the dataframe.

Add predictions for Simple Exponential Smooting to the dataframe.

Add predictions for Double Exponential Smoothing to the dataframe.

Calculate the MAE to find the best model. First drop the rows with NaN.

In [ ]:
columns = ['SMA3', 'SMA6', 'SMA12', 'SES', 'DES']

## Source
Business Analytics Data Analysis & Decision Making