# Lab 7.04 - Time series analysis

In [ ]:
# Package imports

### Exercise 4 - Airline ticket data

Consider the airline ticket data in the file airline ticket data.csv  

- Create a time series chart of the data. Based on what you see, which of the exponential smoothing models do you think should be used for forecasting? Why?
- Create and train the model. Predict the values for the next 12 months.
- Create a plot with the airline ticket data, the fitted values and the predicted values for the next 12 months.

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/HoGentTIN/dsai-labs/main/data/airline%20ticket%20data.csv', delimiter = ";", parse_dates=['Month']).set_index(['Month'])
data.head()

            Tickets
Month
2018-01-01      605
2018-02-01      647
2018-03-01      636
2018-04-01      612
2018-05-01      714

## Source
Business Analytics Data Analysis & Decision Making